.metadata
LaTeX/Requirements/*.aux
LaTeX/Requirements/*.lof
LaTeX/Requirements/*.lot
LaTeX/Requirements/*.out
LaTeX/Requirements/*.gz
LaTeX/Requirements/*.toc
LaTeX/Requirements/*.pdf
LaTeX/Requirements/*.log
LaTeX/Architecture/*.aux
LaTeX/Architecture/*.lof
LaTeX/Architecture/*.lot
LaTeX/Architecture/*.out
LaTeX/Architecture/*.gz
LaTeX/Architecture/*.toc
LaTeX/Architecture/*.pdf
LaTeX/Architecture/*.log
Morris/.classpath
Morris/.project
Morris/*.class
Morris/bin
Morris/bin/Morris.apk
Morris/bin/resources.ap_
Morris/gen
Morris/proguard.cfg
Morris/.settings
Morris/libs
Morris/libs/SkillerAndroidSDK.jar
Morris/project.properties