.metadata
LaTeX/Requirements/*.aux
LaTeX/Requirements/*.lof
LaTeX/Requirements/*.lot
LaTeX/Requirements/*.out
LaTeX/Requirements/*.gz
LaTeX/Requirements/*.toc
LaTeX/Requirements/*.pdf
LaTeX/Requirements/*.log
Morris/.classpath
Morris/.project
Morris/*.class
Morris/bin
Morris/gen
Morris/proguard.cfg
Morris/.settings